.App {
  text-align: center;
}

.container4 {
  position: absolute;
  /* left:28em !important; */
}
.mealLabel {
  position: absolute !important;
  top: 4em;
}

.caloriesLabel2 {
  position: absolute !important;
}
.btnSave {
  position: absolute !important;
  top: 12em;
  left: 10em !important;
  border: none;
  height:50px;
  font-size:18px;
  cursor:pointer;
}

.btnCancel {
  position: absolute !important;
  top: 12em !important;
  left: 15em !important;
  border: none;
  width: 5em;
  height:50px;
  font-size:18px;
  cursor:pointer;
}

.table {
  position: absolute !important;
  top: 10em !important;
  margin-left: -1rem !important;
}
.btnSave2 {
  position: absolute !important;
  margin-top: -12rem !important;
 margin-left: -7rem !important;
  border: none;
  width: 6em;
  height:50px;
  font-size:18px;
  cursor:pointer;
}

.btnCancel2 {
  position: absolute !important;
  margin-top: -12rem !important;
  left: 15em !important;
  margin-left: -4rem !important;

  border: none;
  width: 6em;
  height:50px;
  font-size:18px;
  cursor:pointer;
}
.form-control2{
 margin-top:8rem;
}
.hrForm{
  width:400px;
  margin-left:0;
}