.App {
    text-align: center;
  }
  
  .container4{
    position:absolute;
    /* left:28em !important; */
  }
  .mealLabel{
    position:absolute !Important;
    top:4em;
  }

  .caloriesLabel2{
    position:absolute !important; 
  }
  .btnSave{
    position:absolute !important;
    top:12em;
    left:10em !important;
    border:none;
  }

  .btnCancel{
    position:absolute !Important;
    top:12em !important;
    left:15em !important;
    border:none;
    width:5em;
  }
  .table{
    position:absolute !Important;
    top:10em !important;
    left:1em !important;
  }
  .foodLabel{
    
  }
  .btnSave2{
    position:absolute !important;
    top:25em ;
    left:10em !important;
    border:none;    
    width:5em;
  }

  .btnCancel2{
    position:absolute !important;
    top:25em !important;
    left:15em !important;
    border:none;
    width:5em;
  }