.App {
    text-align: center;
  }
  
  .container{
    position:absolute;
    left:28em !important;
  }
  .mealLabel{
    position:absolute !Important;
    top:4em;
  }

  .caloriesLabel{
    position:absolute !Important; 
  }
  .btnSave{
    position:absolute !Important;
    top:12em;
    left:10em !important;
    border:none;
  }

  .btnCancel{
    position:absolute !Important;
    top:12em !important;
    left:15em !important;
    border:none;
    width:5em;
  }
  .table{
    position:absolute !Important;
    top:10em !important;
    left:1em !important;
  }
  .foodLabel{
    
  }