.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  
  overflow-y :scroll;
  overflow-x:  hidden !important;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
 .list{
  display:flex !important; 
  justify-content: space-between;

  flex-shrink: 2;
  
 }
 .deleteBtn2{
  width:3em;
  border:none;
  background-color: white;;
  cursor:pointer;
 }
 .container6{  
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  width: 400px;
  height: auto;
  min-height: 200px;
 }
 .box { 
  display:  flex !important;
   align-items: center;
   justify-content: space-between; 
   width: 40%;
   /* background: green; */
   height: 30%;
 
}
.caloriesPTag{
  display:inline !important;
}
.box2{  
  
}