.App {
  text-align: center;
}

.container3 {
  position: absolute;
}
.mealLabel {
  position: absolute !important;
  top: 4em;
}

.caloriesLabel {
  position: absolute !important;
  top: 6em !important;
}
.foodLabel {
  position: absolute !important;
}
.btnSave {
  position: absolute !important;
  top: 12em;
  left: 10em !important;
  border: none;
}

.btnCancel {
  position: absolute !important;
  top: 12em !important;
  left: 15em !important;
  border: none;
  width: 5em;
}
.table {
  position: absolute !important;
  top: 10em !important;
  left: 1em !important;
}
/* 
  .form-group2{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    width: 400px;
    height: auto;
    min-height: 200px;
  }
  .form-group{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    width: 400px;
    height: auto;
    min-height: 200px;
  } */

.table {
  border-collapse: collapse;
  width: 100%;
}
.form-control {
  position: absolute;
  top: -4vw;
  left: 10vw;
}
.form-control2 {
  position: absolute;
  margin-top: 1vw;
  left: 10vw;
  height:30px;
  width:195px;
}
.foodLabel {
  top: -5vw;
  position: absolute;
}
.caloriesLabel {
  position: absolute;
  top: 0vw !important;
}
.buttons {
  position: absolute;
}
.table1 {
  position: absolute;
  top: 20vw;
}

.btnCancel1 {
  position: absolute !important;
  top: 12em !important;
  margin-left: 13rem !important;
  border: none;
  width: 5em;
  height:50px;
  font-size:18px;
  cursor:pointer;
}

.btnSave {
  position: absolute !important;
 margin-top: -0rem !important;
 margin-left: -6rem !important;
  border: none;
  width: 5em;
  
  font-size:18px;
  cursor:pointer;
}
.hrForm{
  width:400px;
  margin-left:0;
}