.header-images {
  display: grid;
  grid-template-columns: repeat(4, 1em);
  justify-content: center!important;
  display: flex !important;
  gap:5px;
}
p,
h1 {
  place-self: center;
}
.fc-images {
  width: 4%;
  position: absolute;
  object-fit: cover;
  /* place-self: center; */ 
}
.cointainer2 {
  display: grid;
  grid-gap: 0;
}
.image-div {
  /* margin-left: 55%; */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */

  gap: 15px;
}
