.sideDiv3 {
  /* position: fixed;
  top: 21vw; */
}

.sideDiv-second {
  /* position: fixed;
  top: 33vw;
  left: 27vw; */
}
.inpt {
  /* position: fixed;
  top: 33vw;
  left: 34.5vw; */
  width: 50px;
  height: 30px;
}
.grams {
  /* position: fixed;
  top: 32.5vw;
  left: 38vw; */
  flex: 1;
}
.consumed {
  /* position: fixed; */
  /* top: 39vw;
  left: 24.5vw; */
}

.container15 {
  display: grid !important;
  grid-template-columns: repeat(3, 10em);

  grid-template-rows: repeat(5, 5em);
  grid-auto-rows: 100px !important;

  /* justify-content: space-evenly;
  align-content: space-evenly; */
  text-align: center !important;

  margin-top: -5rem !important;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}
.box22 {
  grid-column-start: 1 !important;
  grid-column-end: 2 !important;
  grid-row-start: 2 !important;
  grid-row-end: 3 !important;
}

.card {
  background-color: #ebffee;
  /* height: 100%; */
  width: 15vw;
  height: 5vw;
  /* left: 35%; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}

.crossSign {
  top: 0vw !important ;

  left: 11vw;
  position: absolute !important;

  cursor: pointer;
  height: 100px;
  width: 100px;

  color: #767674;
  content: "";
  display: block;
  font-family: icons;
  font-size: 0.75rem;
  font-weight: 400;
  text-indent: 0;
  font-size: 25px;
}
.crossSign:hover {
  color: white;
}

.box33 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  /* text-align: start !important; */
}
.box44 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex !important;
  align-items: end !important;
  justify-content: space-between !important;
}
.box555 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  width: 100%;
  text-align: end !important;
}
.box55 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.box77 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  display:flex !important;

  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh;

  gap: 15px; */
  margin-top:-2em;
}

.calorieDiv {
  background-color: #e9fbeb;
  /* top: 39vw;
  left: 35vw; */
  height: 50px;
  font-size: 36px !important;

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  align-items: start !important;
  display: flex;
  justify-content: center;
  width:230px;
}

.caloriePTag{
  margin-left:0rem;

}

.box16 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;

  align-items: start !important;
}

.icon {
  /* position: fixed;
  top: 35.5vw;
  left: 34vw; */
}
.addNewItem {
  width: 100%;
}

.firstPTag {
  margin-left: 3em;
  margin: 0;
  display: inline;
  float: left;
}
.secondPTag {
  margin: 0;
  display: inline;
  float: right;
}
