.deleteBtn {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform 0.7s ease-in-out;
    margin-left: 10px;
  }
  .deleteImg{ 
      width: 30px;
      height: 30px; 
      left:59vw;; 
      display:flex;
      position:fixed;
      margin-top:-1vw; 
      /* top:10vw;  */
  }
  
  .container {
    display: inline-block; 
    width: 17vw;
  }
  .box1{ 
    width: 5vw;
    display:inline; 
  
  
  }
  .box2{ 
    display:inline; 
    left:32vw;; 
    display:flex;
    position:fixed;
    margin-top:-1vw; 
  }
  .box3{ 
    display:inline; 
  
  }
  .calories{
     left:55vw;; 
     position:fixed; 
  }
  
  .list{
    list-style: none;
  }
  .greyText{
    color:grey
  }